root {
  --header-height: 70px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.row-flex {
  display: flex;
  justify-content: space-between;
}
header {
  height: var(--header-height);
  border-bottom: 2px solid #0d052b;
}
header .row-flex {
  align-items: center;
}
.header-logo img {
  width: 200px;
  height: auto;
}
.header-nav {
  line-height: var(--header-height);
}
.header-nav nav ul {
  display: flex;
  gap: 20px;
}
